@using MyStore.Application.Services.Carts.Queries.IGetCartService
@model CartDto

@{
    ViewData["Title"] = "سبد خرید";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header-height"></div>

<div class="breadcrumb-area mt-37 hm-4-padding">
    <div class="container-fluid">
        <div class="breadcrumb-content text-center">
            <h2>صفحه سبد خرید</h2>
            <ul>
                <li>
                    <a href="~/">خانه</a>
                </li>
                <li>صفحه سبد خرید</li>
                @section Message
                {
                    @{
                        await Html.RenderPartialAsync("Alert");
                    }

                }
            </ul>
        </div>
    </div>
</div>

<div class="banner-area hm-4-padding">
    <div class="container-fluid">
        <div class="banner-img">
            <a href="#"><img src="~/assets/img/banner/16.jpg" alt=""></a>
        </div>
    </div>
</div>

<div class="product-cart-area hm-3-padding pt-120 pb-130">
    @if (Model.CartItems.Count > 0)
    {
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="table-content table-responsive">
                        <table>
                            <thead>
                                <tr>
                                    <th class="product-name">محصولات</th>
                                    <th class="product-price">نام محصولات</th>
                                    <th class="product-name">قیمت</th>
                                    <th class="product-price">تعداد</th>
                                    <th class="product-quantity">جمع</th>
                                    <th class="product-subtotal">حذف</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.CartItems)
                                {
                                    <tr>
                                        <td class="product-thumbnail">
                                            <a href="~/products/detail/@item.ProductId"><img src="~/@item.ProductImage" width="80" height="80" alt=""></a>
                                        </td>
                                        <td class="product-name">
                                            <a href="~/products/detail/@item.ProductId">@item.ProdductName</a>
                                        </td>
                                        <td class="product-price"><span class="amount">@item.Price.ToString("n0") تومان</span></td>
                                        <td class="product-quantity">
                                            <div class="quantity-range">

                                                <a class="icon-link" onclick="AddCount(@item.Id)">+</a>
                                                <input type="text" min="1" max="100" step="1" value="@item.Count" id="count-@item.Id">
                                                <a class="quantity-button quantity-down" onclick="lowCount(@item.Id)">-</a>
                                            </div>

                                        </td>
                                        <td class="product-subtotal">@(item.Price* item.Count) تومان</td>
                                        <td class="product-cart-icon product-subtotal">
                                            <form asp-action="Remove" asp-controller="Cart" method="post">
                                                <input type="hidden" value="@item.Id" name="CartItemId" />
                                                <button type="submit" class="btn-danger border-0">  <i class="ion-ios-trash-outline" aria-hidden="true"></i></button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="cart-shiping-update">
                        <div class="cart-shipping">
                            <a class="btn-style cr-btn" href="~/products">
                                <span>خرید را ادامه دهید</span>
                            </a>
                        </div>
                        <div class="update-checkout-cart">
                            <div class="update-cart">
                                <button class="btn-style cr-btn"><span>به روز رسانی</span></button>
                            </div>
                            <div class="update-cart">
                                <a class="btn-style cr-btn" href="#">
                                    <span>وارسی</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7 col-sm-6">
                    <div class="discount-code">
                        <h4>کد تخفیف خود را وارد کنید</h4>
                        <div class="coupon">
                            <input type="text">
                            <input class="cart-submit" type="submit" value="اعمال">
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-6">
                    <div class="shop-total">
                        <h3>کل سبد خرید</h3>
                        <ul>
                            <li>
                                مبلغ کل
                                <span>@Model.SumProducts.ToString("n0") تومان</span>
                            </li>
                            <li>
                                مالیات
                                <span>9000تومان</span>
                            </li>
                            <li class="order-total">
                                حمل و نقل
                                <span>0</span>
                            </li>
                            <li>
                                جمع سفارش کل
                                <span>@Model.SumProducts.ToString("n0") تومان</span>
                            </li>
                        </ul>
                    </div>
                    <div class="continue-shopping-btn text-center">
                        <a href="~/checkout">پرداخت کنید</a>
                    </div>
                    <div class="continue-shopping-btn text-center">
                        <a href="~/products">خرید را ادامه دهید</a>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <p class="text-lg-center"> سبد خرید شما خالیست <a class="text-danger" style="font-size:small;" href="~/products">رفتن به فروشگاه</a> </p>

                </div>
            </div>
        </div>
    }

</div>

@section Scripts
{
    <script>

    function AddCount(CartItemId) {
        window.location.replace('/cart/addcount?CartItemId=' + CartItemId);
    }

    function lowCount(CartItemId) {
        window.location.replace('/cart/lowcount?CartItemId=' + CartItemId);
    }

    </script>
}