@using MyStore.Application.Services.Orders.Queries.IGetOrdersForAdmin
@model Orders_AdminDto
@{
    ViewData["Title"] = "سفارشات";
    Layout = "~/Areas/Admin/Views/Shared/_Adminlayout.cshtml";
}

<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Zero configuration table -->
        <section id="configuration">
            <div class="row">
                <div class="col-12">
                    <div class="card">

                        <div class="card-body collapse show">
                            <div class="card-block card-dashboard">
                                <p class="card-text">لیست سفارشات</p>
                                @section Message
{
                                    @{
                                        await Html.RenderPartialAsync("MessageAlert");
                                    }

                                }
                                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                                    <div class="col-sm-12">
                                        <table class="table table-striped table-bordered zero-configuration dataTable" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                            <thead>
                                                <tr role="row">
                                                    <th class="sorting_asc text-center">آیدی </th>
                                                    <th class="sorting_asc text-center">نام سفارش دهنده</th>
                                                    <th class="sorting_asc text-center">زمان سفارش</th>
                                                    <th class="sorting_asc text-center">وضعیت</th>
                                                    <th class="sorting_asc text-center">جمع خرید</th>
                                                    <th class="sorting_asc text-center"> جزییات سفارش</th>
                                                    <th class="sorting_asc text-center"> تغییر وضعیت</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.Orders)
                                                {
                                                <tr role="row">
                                                    <td class="text-center">@item.Id</td>
                                                    <td class="text-center">@item.FullName</td>
                                                    <td class="text-center">@item.FinishTime</td>
                                                    <td>
                                                        <div class="text-center">
                                                            @if (item.Status.EndsWith("Recived"))
                                                            {
                                                                <div class="col-7 p-2 mb-2 bg-primary text-white text-center" style="font-size:12px;width:80%;">
                                                                    <span class="amount card-body">دریافت شده</span>
                                                                </div>
                                                            }
                                                            @if (item.Status.Contains("Accepted"))
                                                            {
                                                                <div class="p-2 mb-2 bg-secondary text-white text-center" style="font-size:12px;width:80%;">
                                                                    <span class="amount card-body">پذیرفته شده</span>
                                                                </div>
                                                            }
                                                            @if (item.Status.Contains("Processing"))
                                                            {
                                                                <div class="p-2 mb-2 bg-warning text-white text-center" style="font-size:12px;width:80%;">
                                                                    <span class="amount card-body">پردازش انبار</span>
                                                                </div>
                                                            }
                                                            @if (item.Status.Contains("Sent"))
                                                            {
                                                                <div class="p-2 mb-2 bg-success text-white text-center" style="font-size:12px;width:80%;">
                                                                    <span class="amount card-body">ارسال شده</span>
                                                                </div>
                                                            }
                                                            @if (item.Status.Contains("RecivedByCustomer"))
                                                            {
                                                                <div class="p-2 mb-2 bg-dark text-white text-center" style="font-size:12px;width:80%;">
                                                                    <span class="amount card-body">تحویل شده</span>
                                                                </div>
                                                            }
                                                        </div>
                                                    </td>
                                                    <td class="text-center">@item.SumBuy.ToString("n0") تومان</td>

                                                    <td class="text-center">
                                                        <a href="~/admin/orders/detail/@item.Id" class="btn btn-info">مشاهده</a>
                                                    </td>
                                                    <td class="text-center">
                                                        <form asp-action="ChangeStatus" asp-controller="Orders" method="post">
                                                            <div class="form-row">
                                                                <div class="col-7 my-1 mr-1 ">
                                                                    <input name="OrderId" type="hidden" value="@item.Id" />
                                                                    <select name="StatusId" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                                                        <option selected>انتخاب کنید</option>
                                                                        <option value="0">دریافت </option>
                                                                        <option value="1">پذیرفته</option>
                                                                        <option value="2">پردازش </option>
                                                                        <option value="3">ارسال</option>
                                                                        <option value="4">تحویل</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-auto my-1">
                                                                    <button type="submit" class="btn btn-primary">ثبت</button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                        
                                                    </td>
                                                </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="  text-center">
                                    <paging total-records="Model.rowCount"
                                            page-no="1"
                                            page-size="10"
                                            show-prev-next="true"
                                            show-total-pages="false"
                                            show-total-records="true"
                                            show-page-size-nav="true"
                                            show-first-numbered-page="true"
                                            show-last-numbered-page="true"
                                            query-string-key-page-no="Page"
                                            query-string-key-page-size="PageSize"
                                            gap-size="2">
                                    </paging>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


